<div class="container py-4">
  <h4 class="mb-3">Quick Actions</h4>

  <div class="row g-3">

    <div class="col-md-4">
      <div class="card action-card text-center p-3"
           routerLink="/manager/team">
        <h6>View Team Members</h6>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card action-card text-center p-3"
           routerLink="/manager/approve-leaves">
        <h6>Approve Leaves</h6>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card action-card text-center p-3"
           routerLink="/manager/team-leaves">
        <h6>Team Leave Calendar</h6>
      </div>
    </div>

  </div>
</div>