
  <div class="container py-4">

  <h4 class="mb-3">Quick Actions</h4>

  <div class="row g-3">

    <div class="col-md-3">
      <div class="card action-card text-center p-3"
           routerLink="/admin/users">
        <h6>Manage Users</h6>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card action-card text-center p-3"
           routerLink="/admin/employees">
        <h6>Manage Employees</h6>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card action-card text-center p-3"
           routerLink="/admin/departments">
        <h6>Departments</h6>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card action-card text-center p-3"
           routerLink="/admin/leave-types">
        <h6>Leave Types</h6>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card action-card text-center p-3"
           routerLink="/admin/holidays">
        <h6>Holidays</h6>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card action-card text-center p-3"
           routerLink="/admin/assign-manager">
        <h6>Assign Manager</h6>
      </div>
    </div>


</div>
</div>