<div class="container py-4">
  <h4 class="mb-3">Quick Actions</h4>

  <div class="row g-3">

    <div class="col-md-4">
      <div class="card action-card text-center p-3"
           routerLink="/employee/apply-leave">
        <h6>Apply Leave</h6>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card action-card text-center p-3"
           routerLink="/employee/leaves">
        <h6>My Leaves</h6>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card action-card text-center p-3"
           routerLink="/employee/profile">
        <h6>My Profile</h6>
      </div>
    </div>


  </div>
</div>